[submodule "benchmark/libsodium"]
	path = benchmark/libsodium
	url = git@github.com:jedisct1/libsodium.git
[submodule "benchmark/wolfSSL"]
	path = benchmark/wolfSSL
	url = https://github.com/SparkiDev/wolfssl.git
